{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Jewelry Shop</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header class="header">
    <div class="container">

        <div class="logo">
            <a href="/">Jewelry</a>
        </div>

        <nav class="menu">
            <a href="/">Головна</a>

            {% for category in categories %}
                <a href="/category/{{ category.id }}/">
                    {{ category.name }}
                </a>
            {% endfor %}
             <a href="/cart/" class="cart-link">🛒 Кошик</a>
        </nav>

    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">

    <div class="footer-container">

        <div class="footer-left">
            <h3>Приєднуйтесь до нас:</h3>
            <p>Telegram</p>
            <p>YouTube</p>
            <p>Instagram</p>
            <p>TikTok</p>
        </div>

        <div class="footer-right">
            <h3>Каталог</h3>
            <p>Сережки</p>
            <p>Намиста</p>
            <p>Браслети</p>
            <p>Каблучки</p>
            <p>Ланцюжки</p>
        </div>

    </div>

    <div class="subscribe">
    <form method="post" action="/subscribe/" class="subscribe-form">
        {% csrf_token %}

        <input type="text" name="name" placeholder="Ім'я">
        <input type="email" name="email" placeholder="Ваш email">

        <button type="submit">Підписатись</button>
    </form>
</div>

    <p class="footer-bottom">© Luna Jewelry 2026</p>

</footer>

</body>
</html>