{% extends 'pages/base.html' %}

{% block content %}

<div class="product-page">

    <div class="product-left">
        {% if product.image %}
            <img src="{{ product.image.url }}">
        {% endif %}
    </div>

    <div class="product-right">

        <h1>{{ product.name }}</h1>

        <p class="product-description">
            {{ product.description }}
        </p>

        <p class="price">{{ product.price }} грн</p>

        {% if avg_rating %}
            <p class="rating">⭐ {{ avg_rating|floatformat:1 }} / 5</p>
        {% else %}
            <p class="rating">Ще немає оцінок</p>
        {% endif %}

        <a href="/add-to-cart/{{ product.id }}/">
            <button class="buy-btn">Купити</button>
        </a>

        <!-- ⭐ ОЦІНКА ЗІРОЧКАМИ -->
        <div class="rating-box">
            <h3>Оцініть товар:</h3>

            <div class="stars">
                <form method="post" action="/rate/{{ product.id }}/">
                    {% csrf_token %}

                    <button name="rating" value="1">⭐</button>
                    <button name="rating" value="2">⭐⭐</button>
                    <button name="rating" value="3">⭐⭐⭐</button>
                    <button name="rating" value="4">⭐⭐⭐⭐</button>
                    <button name="rating" value="5">⭐⭐⭐⭐⭐</button>
                </form>
            </div>
        </div>

        <br>
        <a href="/" class="back-link">← Назад</a>

    </div>

</div>

{% endblock %}